/* Compoent Common Style */

.range-box {
	position: absolute;
	z-index: 1;
	pointer-events: none;
}

.margin-box {
	background-color: rgba(228, 142, 88, .4);
}

.padding-box {
	background-color: rgba(168, 200, 121, .4);

	&.padding-top-box {
		top: 0;
		left: 0;
	}
	
	&.padding-bottom-box {
		bottom: 0;
		left: 0;
	}

	&.padding-left-box {
		top: 0;
		left: 0;
	}
	
	&.padding-right-box {
		top: 0;
		right: 0;
	}
}

.comp:has(> .range-box) {
	background-color: rgba(76, 146, 177, .1);
}

.comp.selected::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: transparent;
	border: 2px dashed #ac92b1;
}

.comp {
	cursor: pointer;
	position: relative;
	transition: .5s ease;
}

/* Heading Component Style */

.comp-heading {

	/* Heading Component Common Style */

	display: flex;
	align-items: center;

	/* Heading1 Component Style */

	&:has(h1) {
		height: 50px;
	}

	& > h1 {
		font-size: 2rem;
		font-weight: 700;
		color: #444;
	}
}

/* Column Component Style */

.comp-column {

	/* Column Component Common Style */

	display: flex;
	height: 500px;
	padding: 20px;
	margin: 10px 0px;

	& > div {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	& .comp-column {
		height: 100%;
	}
}