/* Compoent Common Style */

.margin-box {
    background-color: rgba(255, 216, 190, .8);
}

.padding-box {
    background-color: rgba(182,207, 182, .6);
}

.margin-box > .padding-box > .comp {
    background-color: rgba(171, 222, 230, .8);
}

.comp:hover {
	cursor: pointer;
}

.comp.selected,
.margin-box:has(.comp.selected) {
	box-shadow: 0 0 0 2px blue inset;
}

.comp.selected:hover,
.padding-box:has(.comp.selected):hover .comp.selected,
.margin-box:has(.comp.selected):hover .comp.selected {
	box-shadow: unset;
}

/* Heading Component Common Style */

.comp-heading {}

/* Heading1 Component Style */

.comp-heading h1 {
	font-size: 2rem;
	font-weight: 700;
	color: #444;
}

/* Column Component Common Style */

.comp-column {
	display: flex;
	height: 500px;
	padding: 10px;
}

.comp-column > div {
	flex: 1;
}